<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  
    <add key="apiKey" value="84cd880cd77b5199c7ada5e817e317979e1b1f56"/>
    <add key="apiRoute" value="https://api.jcdecaux.com/vls/v1/"/>
    <add key="contractRefreshRate" value="5"/>
    <add key="AvailableStationRate" value="60"/>
    <add key="cacheLimit" value="200"/>
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding><binding name="WSDualHttpBinding_Velib"></binding></wsDualHttpBinding>
    </bindings>
    <services>
      
      <service name="VelibGatewayWS.VelibService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_Velib"
                  contract="VelibGatewayWS.IVelibService" name="WSDualHttpBinding_Velib">
              <identity>
            <dns value="localhost" />
          </identity>
            </endpoint>
             <!-- <endpoint address="" binding="wsHttpBinding" contract="VelibGatewayWS.IVelibService">
        
        </endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/VelibGatewayWS/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation d'informations de métadonnées, 
          définissez les valeurs ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
        <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
